<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="productCreate-main">
      <form
        method="POST"
        action="/products/create"
        enctype="multipart/form-data"
      >
        <h1>Agregar Producto</h1>
        <h2>Foto del Producto</h2>
        <img
          src="/images/products/default.jpg"
          alt="Foto de producto"
          id="preview"
        />
        <input type="file" name="img" id="img" onchange="loadImage(event)" />
        <h2>Nombre del Producto</h2>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Nombre del Producto"
          required
        />
        <h2>Precio del Producto</h2>
        <input
          type="text"
          name="price"
          id="price"
          placeholder="Precio del Producto"
          required
        />
        <button type="submit">Agregar</button>
      </form>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
    <script>
      let loadImage = (event) => {
        let image = document.getElementById("preview");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
  </body>
</html>
