/*
Paleta de Colores

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header,
.banner,
footer {
    width: 100%;
}

body .go-up-button {
    position: fixed;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    text-align: center;
    background-color: #EAC926;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .go-up-button:link,
body .go-up-button:visited {
    text-decoration: none;
}

body .go-up-button i {
    color: white;
    font-size: 1.5rem;
}

/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EAC926;
}

header .mercado-liebre_logo {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    width: 50%;
}

header .mercado-liebre_logo img {
    width: 80%;
}

header .search {
    margin: 20px 0px 10px 0px;
    width: 50%;
    height: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header .search .search-bar,
header .search .search-button {
    height: 5vw;
    border-radius: 8px;
    border: none;
}

header .search-bar {
    width: 85%;
    padding: 4px;
}

header .search-button {
    width: 10%;
    background-color: #1259C3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

header .search-button i {
    font-size: 2.5vw;
}

header .text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

header nav {
    align-self: flex-start;
    margin: 10px 0px 0px 20px;
}

header nav ul {
    display: none;
    list-style: none;
    margin: 0px 0px 10px 0px;
}

header>a,
header nav ul li a:link,
header nav ul li a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header .burger-menu {
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1259C3;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
}

header .burger-menu i {
    color: white;
    font-size: 6vw;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
}

/*Home*/
main {
    background-color: #ebebeb;
    margin: 0px 0px 15px 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

main section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section h3 {
    font-size: 2rem;
    align-self: flex-start;
    margin: 10px 0px 10px 0px;
    color: #666;
}

main section article {
    width: 100%;
    background-color: white;
    margin: 0px 0px 10px 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

main section article .imagen {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section article .imagen img {
    width: 100%;
}

main section article .icon {
    margin: 0px 0px 5px 0px;
    border: 1px solid #39b54a;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: flex-end;
}

main section article .icon i {
    color: #39b54a;
    font-size: 3.25vw;
    max-width: 100%;
}

main section article .precio-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
    margin: 5px 0px;
}

main section article .precio-box .precio {
    font-size: 1.5rem;
}

main section article .descuento-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
}

main section article .nombre-box h4,
main section article .descuento-box .descuento {
    font-size: 1.33rem;
}

main section article .descuento-box .descuento {
    color: #39b54a;
}

main section article .nombre-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main section article .nombre-box h4 {
    width: 90%;
    color: #666;
    text-align: center;
}

/*Footer*/
footer {
    margin: 15px 0px 0px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 90px 40px 90px;
}

footer ul li i {
    font-size: 2em;
    color: #1259C3;
    margin: 0px 0px 10px 0px;
}

footer ul li h4 strong {
    font-size: 0.8rem;
    color: #666;
}

footer ul li p {
    font-size: 0.6rem;
    text-align: center;
}

footer>h4 {
    margin: 0px 0px 20px 20px;
}

footer>h4 strong {
    color: #666;
    font-size: 0.6rem;
}

/*Tablet*/
@media (min-width: 361px) {

    /*Header*/
    header .mercado-liebre_logo {
        width: 32%;
    }

    header .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32%;
        height: 3vw;
    }


    header .search .search-bar,
    header .search .search-button {
        height: 100%;
        border-radius: 8px;
    }

    header .search .search-bar {
        width: 90%;
    }

    header .search .search-button {
        width: 10%;
        border: none;
        background-color: #1259C3;
        color: white;
    }

    header .search .search-button button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .search .search-bar,
    header .search .search-button i {
        font-size: 1.4vw;
    }

    header .text {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4vw;
    }

    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 44%;
    }

    header nav ul li a,
    header nav ul li a i {
        font-size: 1.50vw;
    }

    header .burger-menu {
        display: none;
    }

    /*Home*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    main section h3 {
        width: 100%;
        font-size: 1.25rem;
    }

    main section article {
        width: 45%;
        height: 50vw;
    }

    main section article .icon i {
        font-size: 1.7vw;
        transition: rotate 1000ms;
    }

    main section article .icon i:hover {
        rotate: -90deg;
    }

    main section article .precio-box .precio {
        font-size: 0.7rem;
    }

    main section article .nombre-box h4,
    main section article .descuento-box .descuento {
        font-size: 0.6rem;
    }

    /*Footer*/
    footer ul li i {
        font-size: 6vw;
    }

    footer ul li h4 strong {
        font-size: 3vw;
    }

    footer ul li p {
        font-size: 2vw;
    }

    footer>h4 strong {
        color: #666;
        font-size: 2.7vw;
    }
}

/*Desktop*/
@media (min-width: 769px) {
    /*Header*/

    /*Home*/
    main section article {
        width: 22%;
        height: 30vw;
        transition: box-shadow 500ms;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article .imagen img {
        height: 15vw;
    }

    main section article .icon {
        width: 10%;
    }

    main section article .icon i {
        font-size: 0.9vw;
    }

    main section article .precio-box .precio,
    main section article .descuento-box .descuento {
        font-size: 1.2vw;
    }

    main section article .nombre-box h4 {
        font-size: 1.2vw;
    }

    /*Footer*/
    footer ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer ul li {
        margin: 30px 40px;
    }

    footer ul li i {
        font-size: 3vw;
        transition: color 200ms;
    }

    footer ul li i:hover {
        color: #39b54a;
    }

    footer ul li h4 strong {
        font-size: 1.5vw;
    }

    footer ul li p {
        font-size: 1vw;
    }

    footer>h4 strong {
        color: #666;
        font-size: 1.2vw;
    }
}