/*
Paleta de Colores

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

/*Header*/
.fondo-amarillo {
    background-color: #EAC926;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .mercado-liebre_logo {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    width: 50%;
}

header .mercado-liebre_logo img {
    width: 80%;
}

header .search {
    margin: 20px 0px 10px 0px;
    width: 50%;
    height: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header .search .search-bar,
header .search .search-button {
    height: 5vw;
    border-radius: 8px;
    border: none;
}

header .search-bar {
    width: 85%;
    padding: 4px;
    font-size: 2vw;
}

header .search-button {
    width: 10%;
    background-color: #1259C3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

header .search-button i {
    font-size: 2.5vw;
}

header .text {
    width: 100%;
    text-align: center;
    font-size: 2.75vw;
}

header nav {
    align-self: flex-start;
    margin: 10px 0px 0px 20px;
}

header nav ul {
    display: none;
    list-style: none;
    margin: 0px 0px 10px 0px;
}

header>a,
header nav ul li a:link,
header nav ul li a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header .burger-menu {
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1259C3;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
}

header .burger-menu i {
    color: white;
    font-size: 6vw;
}

body .banner img {
    width: 100%;
}

/*Register*/
main {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .register-container {
    width: 80%;
    height: 250vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .register-container h3 {
    align-self: center;
    font-size: 5vw;
}

main .register-container form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .register-container form input[type="text"],
main .register-container form input[type="email"],
main .register-container form input[type="password"] {
    width: 60vw;
}

main .register-container form input {
    margin: 10px 0px 5px;
    border: 1px solid white;
    padding: 6px;
}

main .register-container form label {
    margin: 15px 0px 0px 0px;
    font-size: 4vw;
    font-weight: bold;
}

main .register-container form .userProfile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main .register-container form .userProfile-container input {
    margin: 10px 2px 10px 0px;
}

main .register-container form .userProfile-container label {
    margin: 10px 10px 10px 0px;
    font-size: 3.5vw;
    font-weight: normal;
}

main .register-container form .userInterest-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .register-container form .userInterest-container input {
    margin: 5px 2px 5px 0px;
}

main .register-container form .userInterest-container label {
    margin: 5px 10px 5px 0px;
    font-size: 3.5vw;
    font-weight: normal;
}

main .register-container form .form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

main .register-container form .form-buttons button {
    border-radius: 5px;
    background-color: #06a4ff;
    color: white;
    margin: 0px 5px 0px 0px;
    border: none;
    padding: 10px;
}

/*Footer*/
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 90px 40px 90px;
}

footer ul li i {
    font-size: 6vw;
    color: #1259C3;
    margin: 0px 0px 5px 0px;
}

footer ul li h4 strong {
    font-size: 3vw;
    color: #666;
}

footer ul li p {
    font-size: 2vw;
    text-align: center;
}

footer>h4 {
    margin: 0px 0px 20px 20px;
}

footer>h4 strong {
    color: #666;
    font-size: 2.7vw;
}

/*Tablet*/
@media (min-width: 361px) {

    /*Header*/
    header .mercado-liebre_logo {
        width: 33%;
    }

    header .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32%;
        height: 3vw;
    }


    header .search .search-bar,
    header .search .search-button {
        height: 100%;
        border-radius: 8px;
    }

    header .search .search-bar {
        width: 90%;
    }

    header .search .search-button {
        width: 10%;
        border: none;
        background-color: #1259C3;
        color: white;
    }

    header .search .search-button button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .search .search-bar,
    header .search .search-button i {
        font-size: 1.4vw;
    }

    header .text {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4vw;
    }

    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 45%;
    }

    header nav ul li a,
    header nav ul li a i {
        font-size: 1.75vw;
    }

    header .burger-menu {
        display: none;
    }

    /*Register*/

    /*Footer*/
    footer ul li i {
        font-size: 6vw;
    }

    footer ul li h4 strong {
        font-size: 3vw;
    }

    footer ul li p {
        font-size: 2vw;
    }

    footer>h4 strong {
        color: #666;
        font-size: 2.7vw;
    }
}

/*Desktop*/
@media (min-width: 769px) {

    /*Header*/

    /*Register*/

    /*Footer*/
    footer ul li i {
        font-size: 3vw;
    }

    footer ul li h4 strong {
        font-size: 1.5vw;
    }

    footer ul li p {
        font-size: 1vw;
    }

    footer>h4 strong {
        color: #666;
        font-size: 1.2vw;
    }
}