<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bienvenidxs a MercadoLiebre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <a class="go-up-button" href="#header">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
  <%- include("./partials/header") %>
  <main class="home-main">
    <%- include("./partials/lastViewedProducts") %>
    <%- include("./partials/onOfferProducts") %>
  </main>
  <%- include("./partials/footer") %>
  <script src="https://kit.fontawesome.com/eae7cdcb5c.js" crossorigin="anonymous"></script>
</body>

</html>