<section>
  <h3 id="ofertas">Ofertas</h3>
  <% for( let i=0; i < onOfferProducts.length; i++ ) { %>
    <article>
      <div class="imagen">
        <img src=<%=onOfferProducts[i].image %> width="360" alt="Cafetera" class="product_img">
      </div>
      <div class="article-info">
        <i class="fa-solid fa-truck-fast"></i>
        <p class="precio">
          $<%= onOfferProducts[i].price %>
        </p>
        <p class="descuento">40% off</p>
        <h4>
          <%= onOfferProducts[i].name %>
        </h4>
      </div>
    </article>
  <% } %>
</section>