<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include('../partials/header') %>
    <main class="register-main">
      <div class="register-container">
        <h1>Registro</h1>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <label>Foto de Perfil</label>
          <img
            src="/images/usersAvatars/default.jpg"
            alt="Foto de Perfil"
            id="preview"
          />
          <input type="file" name="profileImage" id="profileImage" onchange="loadImage(event)"/>
          <label for="fullName">Nombre Completo</label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Nombre y Apellido"
            required
          />
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            required
          />
          <label for="birthDate">Fecha de Nacimiento</label>
          <input
            type="date"
            name="birthDate"
            id="birthDate"
            required
          />
          <label for="address">Domicilio</label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Domicilio"
            required
          />
          <label>Perfil de Usuario</label>
          <div class="userProfile-container">
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="buyer"
                value="Comprador"
                required
              />
              <label for="buyer">Comprador</label>
            </div>
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="vendor"
                value="Vendedor"
                required
              />
              <label for="vendor">Vendedor</label>
            </div>
          </div>
          <label>Intereses</label>
          <div class="userInterest-container">
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="electro"
                value="Electro"
              />
              <label for="electro">Electro</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="moda"
                value="Moda"
              />
              <label for="moda">Moda</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="hogar"
                value="Hogar"
              />
              <label for="hogar">Hogar</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="jugueteria"
                value="Jugueteria"
              />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="vidaSana"
                value="Vida Sana"
              />
              <label for="vidaSana">Vida Sana</label>
            </div>
          </div>
          <label for="userName">Nombre de Usuario</label>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Nombre de Usuario"
            required
          />
          <label for="password">Contrase単a</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contrase単a"
            required
          />
          <label for="passwordConfirmation">Confirmar Contrase単a</label>
          <input
            type="password"
            name="passwordConfirmation"
            id="passwordConfirmation"
            placeholder="Confirmar Contrase単a"
            required
          />
          <div class="form-buttons">
            <button type="reset">Borrar</button>
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
    <script>
      let loadImage = (event) => {
        let image = document.getElementById("preview");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
  </body>
</html>
