<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include('../partials/header') %>
    <main class="register-main">
      <div class="register-container">
        <h3>Registro</h3>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <input
            type="text"
            name="userFullName"
            id="userFullName"
            placeholder="Nombre y Apellido"
            autocomplete="off"
            required
            pattern="[a-zA-Z]{5,30}"
            title="Minimo 5 Caracteres"
          />
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Nombre de Usuario"
            autocomplete="off"
            required
            pattern="[a-zA-Z0-9]{5,30}"
            title="Minimo 5 Caracteres"
          />
          <input
            type="email"
            name="userEmail"
            id="userEmail"
            placeholder="E-mail"
            autocomplete="off"
            required
          />
          <label for="userBirthDate">Fecha de Nacimiento</label>
          <input
            type="date"
            name="userBirthDate"
            id="userBirthDate"
            autocomplete="off"
            required
          />
          <input
            type="text"
            name="userAddress"
            id="userAddress"
            placeholder="Domicilio"
            autocomplete="off"
            required
            pattern="[a-zA-Z0-9]{5,30}"
            title="Minimo 5 Caracteres y al menos un numero"
          />
          <label>Perfil de Usuario</label>
          <div class="userProfile-container">
            <div class="option">
              <input
                type="radio"
                name="userProfile"
                id="buyer"
                value="vendor"
                required
              />
              <label for="buyer">Comprador</label>
            </div>
            <div class="option">
              <input
                type="radio"
                name="userProfile"
                id="vendor"
                value="vendor"
                required
              />
              <label for="vendor">Vendedor</label>
            </div>
          </div>
          <label>Intereses</label>
          <div class="userInterest-container">
            <div class="option">
              <input
                type="checkbox"
                name="userInterest"
                id="electro"
                value="electro"
              />
              <label for="electro">Electro</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="userInterest"
                id="moda"
                value="moda"
              />
              <label for="moda">Moda</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="userInterest"
                id="hogar"
                value="hogar"
              />
              <label for="hogar">Hogar</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="userInterest"
                id="jugueteria"
                value="jugueteria"
              />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="userInterest"
                id="vidaSana"
                value="vidaSana"
              />
              <label for="vidaSana">Vida Sana</label>
            </div>
          </div>
          <label>Foto de Perfil</label>
          <input type="file" name="userProfileImage" id="userProfileImage" required/>
          <input
            type="password"
            name="userPassword"
            id="userPassword"
            placeholder="Contraseña"
            autocomplete="off"
            required
          />
          <input
            type="password"
            name="userPasswordConfirmation"
            id="userPasswordConfirmation"
            placeholder="Confirmar Contraseña"
            autocomplete="off"
            required
          />
          <div class="form-buttons">
            <button type="reset">Borrar</button>
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
