<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="usersCreate-main">
      <div class="users-create">
        <h1 style="font-size: 2rem">Agregar Usuario</h1>
        <form method="POST" action="/users/create">
          <input type="text" name="userName" id="userName" placeholder="Nombre de Usuario" required>
          <input type="password" name="userPassword" id="userPassword" placeholder="Contraseña" pattern="[a-zA-Z0-9]{8}" title="La Contraseña debe contener 8 caracteres y al menos un numero" required>
          <button type="submit">Agregar</button>
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>